<Menu>
    <Items>
        <Item>
            <Name>Отчеты</Name>
            <Items>
                <Item>
                    <Name>Работающие секции</Name>
                    <Panel>view.report.ActiveSections</Panel>
                </Item>
                <Item>
                    <Name>Секции по тренерам</Name>
                    <Panel>view.report.SectionsByCoach</Panel>
                </Item>
                <Item>
                    <Name>Состав секций</Name>
                    <Panel>view.report.SectionCompound</Panel>
                </Item>
                <Item>
                    <Name>По видам спорта</Name>
                    <Panel>view.report.ByKindOfSport</Panel>
                </Item>
            </Items>
        </Item>
        <Item>
            <Name>Спортсмены</Name>
            <Panel>model.entity.Sportsman</Panel>
        </Item>
        <Item>
            <Name>Секции</Name>
            <Panel>model.entity.Section</Panel>
        </Item>
        <Item>
            <Name>Тренера</Name>
            <Panel>model.entity.Coach</Panel>
        </Item>

        <Item>
            <Name>Статистика</Name>
            <Items>
                <Item>
                    <Name>Популярность видов спорта</Name>
                    <Panel>view.statistics.PopularityOfSports</Panel>
                </Item>
            </Items>
        </Item>
    </Items>
</Menu>