<Menu>
    <Items>
        <Item>
            <Name>Отчеты</Name>
            <Items>
                <Item>
                    <Name>Спортсмены</Name>
                    <Panel>view.report.SportsmanReport</Panel>
                </Item>
                <Item>
                    <Name>Секции</Name>
                    <Panel>SectionReport</Panel>
                </Item>
            </Items>
        </Item>
        <Item>
            <Name>Спортсмены</Name>
            <Panel>model.entity.Sportsman</Panel>
        </Item>
        <Item>
            <Name>Секции</Name>
            <Panel>model.entity.Section</Panel>
        </Item>
        <Item>
            <Name>Тренера</Name>
            <Panel>model.entity.Coach</Panel>
        </Item>
    </Items>
</Menu>