<Menu>
    <Items>
        <Item>
            <Name>Отчеты</Name>
            <Items>
                <Item>
                    <Name>Спортсмены</Name>
                    <Panel>view.report.SportsmanReport</Panel>
                </Item>
                <Item>
                    <Name>Секции</Name>
                    <Panel>SectionReport</Panel>
                </Item>
            </Items>
        </Item>
        <Item>
            <Name>Спортсмены</Name>
            <Panel>view.form.SportsmanForm</Panel>
        </Item>
        <Item>
            <Name>Секции</Name>
            <Panel>view.form.SectionForm</Panel>
        </Item>
        <Item>
            <Name>Тренера</Name>
            <Panel>view.form.TrainerForm</Panel>
        </Item>
    </Items>
</Menu>